@import "tailwindcss";
@import "../public/font.css";

@theme {
  --font-vazir: "Vazir", sans-serif;
}
@layer components {
  .icon-button {
    @apply hover:bg-gray-100 transition-all p-1 rounded-full;
  }
}
/*? Habmurger Menu btn Style ⬇︎*/
.label-check {
  display: none;
}
#label-check:checked + .hamburger-label .line1 {
  transform: rotate(35deg) scaleX(0.75) translate(39px, -4.5px);
  border-radius: 50px 50px 50px 0;
}

#label-check:checked + .hamburger-label .line3 {
  transform: rotate(-40deg) scaleX(0.7) translate(44px, 4.5px);
  border-radius: 0 50px 50px 50px;
  margin-top: 36px;
}

#label-check:checked + .hamburger-label .line2 {
  transform: translate(15px, -2px);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  margin-top: 18px;
}
